<html>
<head>
  <title>Dots and Boxes </title>
  <link rel="stylesheet" href="waitingRoomAndGameStyle.css">
  <link rel="stylesheet" href="userStyles.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <div class="containerOuter">
    <div id="titleBar">
      <h1>Dots and Boxes</h1>
    </div>

     <div class="section WaitingRoom">
       <div class="containerInner waitingRoomContainer">
         <h2>Waiting Room</h2>
         <p>You are currently in waiting room <span id="roomDisplay"><%= room %></span></p>

         <div class="settings">
           <% if (role==-1) { %>
             <div class="setting" id="username">
               <input id="usernameInput" placeholder="Username" maxlength=25></input>
               <button onclick="changeUsername()">Change username</button><br>
             </div>
           <% } %>

           <input id="colourInput" class="setting" type="color" list="presetColors">
           <datalist id="presetColors">
           <option value="#ff0000"/>
           <option value="#ff8000"/>
           <option value="#ffff00"/>
           <option value="#80ff00"/>
           <option value="#00ff00"/>
           <option value="#00ffff"/>
           <option value="#0080ff"/>
           <option value="#0000ff"/>
           <option value="#8000ff"/>
           <option value="#ff00ff"/>
           </datalist>
           <button id="leaveButton" class="setting" onclick="leave()">Leave waiting room</button>



           <% if (admin) { %><button class="setting adminSetting" onclick="startGameButton()">Start game</button><% } %>
           <div class="setting size">
             <div class="sliderContainer">
               <p>Width: <span id="widthDisplay"> 5 </span></p>
               <% if (admin) { %><input class="slider adminSetting" type="range" id="widthInput" min=2 max=15 value=5 /><% } %>
             </div>
             <div class="sliderContainer">
               <p>Height: <span id="heightDisplay"> 5 </span> </p>
               <% if (admin) { %><input class="slider adminSetting" type="range" id="heightInput" min=2 max=15 value=5 /><% } %>
             </div>
           </div>


         </div>
          <div class="playerList"> </div>
       </div>

     </div>


     <div class="section Game" hidden>
       <div id="gameContainerOuter">
         <div id="gameContainerInner">
           <div class="topBar" id="topBar">
             <p class="playerTurn" id="playerTurn"></p>
             <div class="gameEndControls" id="gameEndControls" hidden><button onclick="restartGame()">Restart Game</button></div>
           </div>
           <canvas id="board"> </canvas>
         </div>
         <div id="sidebar">
           <div class="playerList"> </div>
         </div>
       </div>
     </div>
   </div>


  <script>
    //Some vars are passed in to code
    let GRID_WIDTH = <%= width %>; //Width of the grid in dots
    let GRID_HEIGHT = <%= height %>; //Height of the grid in dots
    let SERVER_ADDRESS = "<%= SERVER_ADDRESS %>";
    let playerNumber = <%= playerNumber %>;
    let showAdmin = <%= admin %>;

  </script>
  <script src="https://cdn.socket.io/socket.io-3.0.1.min.js"></script>
  <script src="/square.js"></script>
  <script src="/game.js"></script>
  <script src="/index.js"></script>

</body>
</html>
