<html>
<head>
  <title>Dots and Boxes </title>
  <link rel="stylesheet" href="/waitingRoomAndGameStyle.css">
  <link rel="stylesheet" href="/userStyles.css">
  <link rel="stylesheet" href="/style.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>
  <div class="containerOuter">
    <div id="titleBar">
      <h1>Dots and Boxes</h1>
    </div>

     <div class="section WaitingRoom">
       <div class="containerInner waitingRoomContainer">
         <h2>Waiting Room</h2>
         <p>You are currently in waiting room <span id="roomDisplay"><%= room %></span></p>

         <div class="settings">
           <% if (role==-1) { %>
             <div class="setting" id="username">
               <input id="usernameInput" placeholder="Username" maxlength=25></input>
               <button class="button" onclick="changeUsername()">Change username</button>
               <br>
             </div>

             <input id="colourInput" class="setting" type="color" list="presetColors">
             <datalist id="presetColors">
               <option value="#ff0000"/>
               <option value="#ff8000"/>
               <option value="#ffff00"/>
               <option value="#80ff00"/>
               <option value="#00ff00"/>
               <option value="#00ffff"/>
               <option value="#0080ff"/>
               <option value="#0000ff"/>
               <option value="#8000ff"/>
               <option value="#ff00ff"/>
             </datalist>
           <% } %>
           <button id="leaveButton" class="setting button" onclick="leave()">Leave waiting room</button>



           <button class="setting adminSetting button" onclick="startGameButton()" <% if (!admin) { %>hidden<% } %> >Start game</button>

           <h3> Gamemode </h3>
           <p class="hideForAdmins" <% if (admin) { %>hidden<% } %> >Current gamemode: <span class="gamemodeDisplay"> </span> </p>
           <select class="setting adminSetting gamemodeInput" onchange="settingsChange('gamemode', this.value)" <% if (!admin) { %>hidden<% } %> >
             <option value="1">Square mode</option>
             <option value="2">Triangle mode</option>
           </select>

           <div class="setting size widthAndHeight">

             <div class="sliderContainer">
               <p>Width: <span class="widthDisplay"> 5 </span></p>
               <input class="slider adminSetting widthInput" type="range" min=2 max=15 value=5 oninput="sizeChange('width', this.value)" <% if (!admin) { %>hidden<% } %>/>
             </div>
             <div class="sliderContainer">
               <p>Height: <span class="heightDisplay"> 5 </span> </p>
               <input class="slider adminSetting heightInput" type="range" min=2 max=15 value=5 oninput="sizeChange('height', this.value)" <% if (!admin) { %>hidden<% } %>/>
             </div>
           </div>

           <div class="setting size width" hidden>

             <div class="sliderContainer">
               <p>Size: <span class="widthDisplay"> 5 </span></p>
               <input class="slider adminSetting widthInput" type="range" min=2 max=15 value=5 oninput="sizeChange('width', this.value)" <% if (!admin) { %>hidden<% } %>/>
             </div>

           </div>

         </div>
         <div class="playerList"> </div>
       </div>

     </div>


     <div class="section Game" hidden>
       <div id="gameContainerOuter">
         <div id="gameContainerInner">

           <div class="topBar" id="topBar">
             <h4 class="playerTurn" id="playerTurn"></h4>
             <div class="icons" id="topBarIcons">
               <span class="gameEndControls" <% if (!admin) { %>hidden<% } %>> <span onclick="restartGame()" class="icon fa fa-2x fa-redo-alt"> </span> </span>
               <span onclick="toggleSettings()" class="icon fa fa-2x fa-cog"> </span>
             </div>
           </div>

           <canvas id="board"> </canvas>
         </div>
         <div id="sidebar">
           <div class="playerList"> </div>
           <div class="inGameControls">
             <a href="/" class="button">Leave game</a>
             <button class="gameEndControls button" onclick="restartGame()" <% if (!admin) { %>hidden<% } %>>Restart Game</button>
           </div>
         </div>
       </div>
     </div>
     <div class="settingsScreenFilter" id="settingsScreenFilter" hidden> </div>
     <div class="settingsScreenContainer" id="settingsScreenContainer" hidden>
       <div class="settingsScreen">
         <h2 class="settingsTitle">Game settings</h2>
         <span onclick="toggleSettings()" id="settingsCloseButton" class="icon fa fa-3x fa-times-circle"></span>
         <h4>All changes to settings will start when the next round begins</h4>

         <p class="hideForAdmins" <% if (admin) { %>hidden<% } %> >Current gamemode: <span class="gamemodeDisplay"> </span> </p>

         <div class="setting adminSetting " <% if (!admin) { %>hidden<% } %>>
           <span>Gamemode: </span>
           <select class="gamemodeInput" onchange="settingsChange('gamemode', this.value)">
             <option value="1">Square mode</option>
             <option value="2">Triangle mode</option>
           </select>
         </div>

         <div class="setting size widthAndHeight">
           <div class="sliderContainer">
             <p>Width: <span class="widthDisplay"> 5 </span></p>
             <input class="slider adminSetting widthInput" type="range" min=2 max=15 value=5 oninput="sizeChange('width', this.value)" <% if (!admin) { %>hidden<% } %>/>
           </div>
           <div class="sliderContainer">
             <p>Height: <span class="heightDisplay"> 5 </span> </p>
             <input class="slider adminSetting heightInput" type="range" min=2 max=15 value=5 oninput="sizeChange('height', this.value)" <% if (!admin) { %>hidden<% } %>/>
           </div>
         </div>

         <div class="setting size width" hidden>

           <div class="sliderContainer">
             <p>Size: <span class="widthDisplay"> 5 </span></p>
             <input class="slider adminSetting widthInput" type="range" min=2 max=15 value=5 oninput="sizeChange('width', this.value)" <% if (!admin) { %>hidden<% } %>/>
           </div>

         </div>

       </div>
     </div>

   </div>


  <script>
    //Some vars are passed in to code
    let settings = {
      width: <%= width || 5 %>, //Width of the grid in dots
      height: <%= height || 5 %>, //Height of the grid in dots
      gamemode: <%= gamemode || 2 %>,
      disconnectTimeout: <%= disconnectTimeout || 120 %>,
    }

    let SERVER_ADDRESS = "<%= SERVER_ADDRESS %>";
    let playerNumber = <%= playerNumber || 0 %>;
    let admin = <%= admin || false %>;
    let spectator = <%= spectator || false %>;

  </script>
  <script src="https://cdn.socket.io/socket.io-3.0.1.min.js"></script>
  <script src="/draw.js"></script>
  <script src="/index.js"></script>

</body>
</html>
