<html>
<head>
  <title>Dots and Boxes </title>
  <link rel="stylesheet" href="/style.css">
  <link rel="stylesheet" href="/userStyles.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

  <div id="titleBar">
    <h1>Dots and Boxes</h1>
  </div>

  <div class="container wideArea">
      <% if (locals.user) { %>
        <h2> <span role=<%= user.role %>> <%= user.username %>'s</span> profile </h2>
        <p> <span role=<%= user.role %>> <%= user.username %></span> has been a member since <b><%= user.createdAt %></b></p>

        <br>

        <% if (locals.stats) { %>
          <h3><span role=<%= user.role %>> <%= user.username %>'s</span> stats </h3>
          <div class="stats">
            <p> <%= stats.winPercentage || 0 %>% win rate</p>
            <p> <%= stats.wins || 0 %> wins </p>
            <p> <%= stats.draws || 0 %> draws </p>
            <p> <%= stats.losses || 0%> losses </p>
            <p> <%= stats.gamesPlayed  || 0 %> games played </p>
            <p> <%= stats.boxes || 0 %> boxes formed </p>
          </div>
        <% } %>
      <% } else { %>
        <h2>Profile not found </h2>
        <a class="button" href="/"> Home </a>
      <% } %>
  </div>
</body>
</html>
