<html>
<head>
  <title>Dots and Boxes </title>
  <link rel="stylesheet" href="/style.css">
  <link rel="stylesheet" href="/userStyles.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

  <div id="titleBar">
    <h1>Dots and Boxes</h1>
  </div>

  <div class="container">
    <p>Welcome back <span role=<%= role %>><%= username %></span></p>
    <% if (locals.createdAt) { %><p>You have been a member since <b><%= createdAt %></b></p> <% } %>
    <a href="/" class="button"> Play </a>
    <form method="POST" action="/logout" class="wide"> <input value="Logout" type="submit"/> </form>

    <a class="button" href="/findUser">Find another User </a>
    <a class="button" href="/accountSettings">Account Settings </a>

    <% if (locals.role && role==3) { %>
      <h3>Admin section</h3>
      <a href="/activate" class="button"> Activate accounts </a>
    <% } %>
    <% if (locals.stats) { %>
      <h3>Your stats</h3>
      <div class="stats">
        <p> <%= stats.winPercentage || 0 %>% win rate</p>
        <p> <%= stats.wins || 0 %> wins </p>
        <p> <%= stats.draws || 0 %> draws </p>
        <p> <%= stats.losses || 0%> losses </p>
        <p> <%= stats.gamesPlayed  || 0 %> games played </p>
        <p> <%= stats.boxes || 0 %> boxes formed </p>
      </div>
    <% } %>
  </div>
</body>
</html>
